<h1>Todos</h1>
<input type="text" class="big-input" placeholder="What needs to be done?" autofocus="true"
  (keyup.enter)="addTodo();" [(ngModel)]="todo.title">
<br><br>
<section>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let todo of todos | async" style="border: 1px solid #90A8BE">
      <button class="btn-success btn-circle">&#x2713;</button> &nbsp;
      {{todo.title}}
      <button class="btn-danger btn-circle pull-right">&#x2717;</button> &nbsp;
      <span class="badge">{{todo.id}}</span>
    </li>
  </ul>
</section>
<footer *ngIf="(todos | async)?.length > 0">
  {{ (todos | async)?.length }}
  {{ (todos | async)?.length === 1 ? 'item' : 'items'}} left
  &nbsp;
  <span *ngIf="(todos | async)?.length > 1">
    <button class="btn-danger" (click)="deleteAll()">Delete All</button>
  </span>
</footer>
